.header {
    width: 100%;
    position: absolute;
    z-index: 10;
    
    padding-top: 47px;
    
    &.fixed {
        position: fixed;
        background-color: rgba($lighten-black, .9);
        box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
        
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    &.bg {
        background-color: rgba($lighten-black, .9);
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 500;
    font-size: 18px;
    color: $white;
    
    display: flex;
    align-items: center;
    
    transition: opacity .2s linear;
    
    span {
        margin-left: 10px;
        
        @include breakpoint($tablet-bp) {
            display: none;
        }
    }
    
    &:hover {
        opacity: .5;
    }
}




















